<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894802442717-cd50frkfi4tphkukgn0pvb79cuufcl7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894802442717-cd50frkfi4tphkukgn0pvb79cuufcl7o</string>
	<key>API_KEY</key>
	<string>AIzaSyBKUs7wiWfFZSig-ZeWonTeYCAAOregX_0</string>
	<key>GCM_SENDER_ID</key>
	<string>894802442717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabou78.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-fbase-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-fbase-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894802442717:ios:7f89c850084823639d1e34</string>
</dict>
</plist>